
@{
    ViewBag.Title = "Crear";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1 class="paddingLeftTitles">Nueva Carpeta</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
                <form action="/Carpetas/CreacionNuevaCarpeta/" method="POST">
                    <label>Nombre</label>
                    <input type="text" name="Nombre" placeholder="Nombre" max="50" /><br />
                    <label>Descripción</label>
                    <textarea cols="30" rows="4" name="Descripcion" maxlength="200"></textarea><br />
                    <a class="btn btn-info" href="#" onclick="history.go(-1); return false;">Volver</a>
                    <input type="submit" class="btn btn-primary" value="Crear nueva carpeta" />
                </form>
        </div>
    </div>
</div>

