
@{
    ViewBag.Title = "Carpeta - Eliminar";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1 class="paddingLeftTitles">Eliminar - Carpeta "Mi Carpeta"</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
            <h3>¿Desea eliminar esta carpeta?</h3>
            <div class="center-block">
                <a class="btn btn-info" href="#" onclick="history.go(-1); return false;">Cancelar</a>
                <a class="btn btn-primary" href="/Tareas/EliminacionTarea/">Eliminar</a>
            </div>
        </div>
    </div>
</div>

