
@{
    ViewBag.Title = "Tarea - Eliminar";
}

<h1 class="col-md-12 col-sm-12">Eliminar - Tarea "Mi Tarea"</h1>
<hr />
<div class="col-md-12 col-sm-12">
    <p>¿Desea eliminar esta tarea?</p>
    <div class="col-md-12 col-sm-12">
        <div class="col-md-6 col-sm-12">
            <a class="col-md-2 col-sm-12 btn-primary" href="#" onclick="history.go(-1); return false;">Cancelar</a>
        </div>
        <div class="col-md-6 col-sm-12">
            <a class="col-md-2 col-sm-12 btn-primary" href="#" onclick="history.go(-1); return false;">Cancelar</a>
        </div>
    </div>
</div>

